gunicorn==19.0.0
gevent==1.2.1
passlib==1.7.0
dash
dash-auth
dash-core-components
dash-enterprise-auth
dash-html-components
debugpy
Flask
Flask-Compress
Flask-SeaSurf
numpy
pandas
plotly

